@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent-navbar {
  background-color: transparent;
  transition: background-color 0.01s ease;
}

.scrolled-navbar {
  background-color: rgba(19, 21, 42); /* Ajusta el color y la opacidad según tus necesidades */
}

@layer base{
    
html {
  @apply scroll-smooth;
}

body {
  font-family: "Playfair Display", serif;
}

li {
  @apply p-4 text-sm;
}

h2 {
  @apply text-xl font-bold;
}
h1{
    font-family: "Playfair Display", serif;
}
}