@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





.sidebar {
  height: 100vh;
  overflow-y: auto;
}

@layer base{
    
html {
  @apply scroll-smooth;
}

body {
  font-family: "Playfair Display", sans-serif;
}

li {
  @apply p-4 text-sm;
}

h2 {
  @apply text-xl font-bold font-thin;
}
h1{
    font-family: "Playfair Display", sans-serif;
}
}


h2 {
  font-family: 'Georgia', serif;
  font-style: italic;
  color: #34436B;
  font-weight: 700;
  font-size: 2em;
  position: relative;
  padding: 0 20px;
}

h2::before,
h2::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 30px;
  background: #13152A;
}

h2::before {
  left: -40px;
}

h2::after {
  right: -40px;
}
